#MainMenuWidget {
    background-color: #2C2C2C;
}
#MainMenuWidget QPushButton {
    background-color: #612D53;
    border-radius: 12px;
    padding: 8px 8px;
    border: none;
    font: 25px;
}
#MainMenuWidget QPushButton:hover {
    background-color: #853953;
}

#NotesWidget {
    background-color: #2C2C2C;
}
#NotesWidget QLabel[type="text"] {
    font-size: 20px;
    color: #F3F4F4;
}
#NotesWidget #backToMenuButton {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #612D53;
    color: #F3F4F4;
}
#NotesWidget #backToMenuButton:hover {
    background-color: #853953;
}
#NotesWidget #saveDayButton {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #612D53;
    color: #F3F4F4;
}
#NotesWidget #saveDayButton:hover {
    background-color: #853953;
}
#NotesWidget QLabel[type="text"] {
    font-size: 20px;
    color: #F3F4F4;
}

#DeleteTagsOrCategoriesWidget {
    background-color: #2C2C2C;
    padding: 30px 30px;
}
#DeleteTagsOrCategoriesWidget QLabel[type="text"] {
    font-size: 20px;
    color: #F3F4F4;
}
#DeleteTagsOrCategoriesWidget #backToMenuButton {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #612D53;
    color: #F3F4F4;
}
#DeleteTagsOrCategoriesWidget #backToMenuButton:hover {
    background-color: #853953;
}

#CategoriesViewer,
#CategoriesViewer QScrollArea,
#CategoriesViewer QWidget {
    background-color: #2C2C2C;
}
#CategoriesViewer QScrollArea {
    border: 4px solid #853953;
    border-radius: 10px;
    padding: 5px;
}
#CategoriesViewer QScrollBar:horizontal {
    height: 10px;
    background-color: #36064D;
    background-image: none;
    border: none;
}
#CategoriesViewer QScrollArea::Widget {
    background-color: #36064D;
}
#CategoriesViewer QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    border: none;
    background: none;
    width: 0px;
    height: 0px;
}
#CategoriesViewer QPushButton {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #612D53;
    color: #F3F4F4;
}
#CategoriesViewer QPushButton:hover {
    background-color: #853953;
}
#CategoriesViewer QPushButton[type="selected"] {
    background-color: #853953;
}

#CategoriesAndTagsWidget {

}
#CategoriesAndTagsWidget QPushButton:disabled {
    background-color: #4a4d4f;
    color: #a0a0a0;
}
#CategoriesAndTagsWidget QPushButton[type="addCategory"] {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #AE2448;
    color: #F3F4F4;
}
#CategoriesAndTagsWidget QPushButton[type="addCategory"]:hover {
    background-color: #853953;
}

#TagsViewer QPushButton {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #612D53;
    color: #F3F4F4;
}
#TagsViewer QPushButton:hover {
    background-color: #853953;
}
#TagsViewer #PlusButton {
    background-color: #AE2448;
}
#TagsViewer #PlusButton:hover {
    background-color: #853953;
}
#TagsViewer #PlusButton:disabled {
    background-color: #57595B;
    color: #a0a0a0;
}

#TagsByDateWidget {
    border: 4px solid #853953;
    border-radius: 10px;
    padding: 5px 5px;
}

#CustomCalendar {
    background-color: #2C2C2C;
}
#CustomCalendar QPushButton[dayButton=true] {
    border: 2px solid #612D53;
    border-radius: 15px;
    color: #1B0C0C;
    font-size: 16px;
    background-color: #F5F5F5;

}
#CustomCalendar QPushButton[type="today"] {
    background-color: #FFE5D4;
}
#CustomCalendar QPushButton[type="selected"] {
    background-color: #BFD3C1;
}
#CustomCalendar QPushButton[type="anotherMonthDay"] {
    background-color: #2C2C2C;
    color: #86898b;
}
#CustomCalendar QPushButton[type="currentMonthDay"] {
    background-color: #694F5D;
    color: #000000;
}
#CustomCalendar #weekDayLabel {
    color: #F3F4F4;
}
#CustomCalendar QPushButton[type="prevMonthButton"] {
    background-color: 2C2C2C;
    border: 1px solid #612D53;
    border-radius: 10px;
    color: #F3F4F4;
    font-size: 16px;
}
#CustomCalendar QPushButton[type="prevMonthButton"]:hover {
    background-color: #853953;
}
#CustomCalendar QPushButton[type="nextMonthButton"] {
    background-color: 2C2C2C;
    border: 1px solid #612D53;
    border-radius: 10px;
    color: #F3F4F4;
    font-size: 16px;
}
#CustomCalendar QPushButton[type="nextMonthButton"]:hover {
    background-color: #853953;
}
#CustomCalendar QLabel[type="monthAndYear"] {
    background-color: 2C2C2C;
    color: #F3F4F4;
    font-size: 16px;
}
#CustomCalendar QPushButton[type="toToday"] {
    background-color: 2C2C2C;
    border: 1px solid #612D53;
    border-radius: 10px;
    color: #F3F4F4;
    font-size: 16px;
}
#CustomCalendar QPushButton[type="toToday"]:hover {
    background-color: #853953;
}
