#MainMenuWidget {
    background-color: #FDF9F2;
}
#MainMenuWidget QPushButton[type="navigationButton"] {
    background-color: #D9835D;
    border-radius: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font: 22px;
}
#MainMenuWidget QPushButton[type="navigationButton"]:hover {
    background-color: #C26A47;
    padding-bottom: 4px;
}
#MainMenuWidget QPushButton[type="navigationButton"]:pressed {
    background-color: #A04E30;
    padding-bottom: 4px;
    padding-right: 15px;
}
#MainMenuWidget QPushButton[name="toDeleteWidget"] {

}
#MainMenuWidget QPushButton[name="toCreateNotes"] {

}
#MainMenuWidget QPushButton[name="toCharts"] {

}
#MainMenuWidget QPushButton[name="toDbSettings"] {

}
#MainMenuWidget QWidget[type="buttonsContainer"] {

}
#MainMenuWidget QLabel[type="widgetTitle"] {
    font-size: 28px;
    color: #2D3E2B;
}


#NotesWidget {
    background-color: #FDF9F2;
}
#NotesWidget #backToMenuButton {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 12px;
    background-color: #D9835D;
    color: #FDF9F2;
}
#NotesWidget #backToMenuButton:hover {
    background-color: #C26A47;
    padding-top: 10px;
}
#NotesWidget #backToMenuButton:pressed {
    background-color: #A04E30;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 6px;
}
#NotesWidget QPushButton[type="saveDayButton"] {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 14px;
    background-color: #D9835D;
    color: #FDF9F2;
}
#NotesWidget QPushButton[type="saveDayButton"]:hover {
    background-color: #C26A47;
    padding-top: 2px;
}
#NotesWidget QPushButton[type="saveDayButton"]:pressed {
    padding-top: 2px;
    padding-right: 15px;
}
#NotesWidget QLabel[type="text"] {
    font-size: 20px;
    color: #2D3E2B;
}
#NotesWidget QLabel[type="widgetTitle"] {
    font-size: 28px;
    color: #2D3E2B;
}

#DeleteTagsOrCategoriesWidget {
    background-color: #FDF9F2;
    padding: 30px 30px;
}
#DeleteTagsOrCategoriesWidget QLabel[type="text"] {
    font-size: 20px;
    color: #2D3E2B;
}
#DeleteTagsOrCategoriesWidget #backToMenuButton {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 12px;
    background-color: #D9835D;
    color: #FDF9F2;
}
#DeleteTagsOrCategoriesWidget #backToMenuButton:hover {
    background-color: #C26A47;
    padding-top: 10px;
}
#DeleteTagsOrCategoriesWidget #backToMenuButton:pressed {
    background-color: #A04E30;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 6px;
}
#DeleteTagsOrCategoriesWidget QLabel[type="widgetTitle"] {
    font-size: 28px;
    color: #2D3E2B;
}


#CategoriesViewer,
#CategoriesViewer QScrollArea,
#CategoriesViewer QWidget {
    background-color: #FDF9F2;
}
#CategoriesViewer QScrollArea {
    border: 4px solid #C7B27B;
    border-radius: 10px;
    padding: 5px;
}
#CategoriesViewer QScrollBar:horizontal {
    height: 10px;
    background-color: #E8E0D3;
    background-image: none;
    border: none;
}
#CategoriesViewer QScrollArea::Widget {
    background-color: #E8E0D3;
}
#CategoriesViewer QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    border: none;
    background: none;
    width: 0px;
    height: 0px;
}
#CategoriesViewer QPushButton {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #7C9A6E;
    color: #FDF9F2;
}
#CategoriesViewer QPushButton:hover {
    background-color: #628551;
    padding-top: 10px;
}
#CategoriesViewer QPushButton[type="selected"] {
    background-color: #628551;
}

#CategoriesAndTagsWidget {

}
#CategoriesAndTagsWidget QPushButton:disabled {
    background-color: #D1C9BC;
    color: #8E8A82;
}
#CategoriesAndTagsWidget QPushButton[type="addCategory"] {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #D9835D;
    color: #FDF9F2;
}
#CategoriesAndTagsWidget QPushButton[type="addCategory"]:hover {
    background-color: #C26A47;
    padding-top: 10px;
}
#CategoriesAndTagsWidget QPushButton:pressed {
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 6px;
}

#TagsViewer QPushButton {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #7C9A6E;
    color: #FDF9F2;
}
#TagsViewer QPushButton:hover {
    background-color: #628551;
    padding-top: 10px;
}
#TagsViewer #PlusButton {
    background-color: #D9835D;
}
#TagsViewer #PlusButton:hover {
    background-color: #C26A47;
    padding-top: 10px;
}
#TagsViewer #PlusButton:disabled {
    background-color: #D1C9BC;
    color: #8E8A82;
}

#TagsByDateWidget {
    border: 4px solid #C7B27B;
    border-radius: 10px;
    padding: 5px 5px;
}

#CustomCalendar {
    background-color: #FDF9F2;
}
#CustomCalendar QPushButton {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
}
#CustomCalendar QPushButton:hover {
    background-color: #A9A9A9;
}
#CustomCalendar QPushButton:pressed {
    padding-bottom: 3px;
    background-color: #696969;
}
#CustomCalendar QPushButton[dayButton=true] {
    border: 2px solid #D9835D;
    border-radius: 15px;
    color: #2D3E2B;
    font-size: 16px;
}
#CustomCalendar QPushButton[type="today"] {
    background-color: #FFDAB9;
}
#CustomCalendar QPushButton[type="today"]:hover {
    background-color: #fab97f;
    padding-top: 1px;
}
#CustomCalendar QPushButton[type="selected"] {
    background-color: #EEE8AA;
}
#CustomCalendar QPushButton[type="selected"]:hover {
    background-color: #ede480;
    padding-top: 1px;
}
#CustomCalendar QPushButton[type="anotherMonthDay"] {
    background-color: #FDF9F2;
    color: #C2B9AB;
}
#CustomCalendar QPushButton[type="anotherMonthDay"]:hover {
    background-color: #DCDCDC;
    padding-top: 1px;
}
#CustomCalendar QPushButton[type="currentMonthDay"] {
    background-color: #F0EDE5;
    color: #2D3E2B;
}
#CustomCalendar QPushButton[type="currentMonthDay"]:hover {
    background-color: #DCDCDC;
    padding-top: 1px;
}
#CustomCalendar #weekDayLabel {
    color: #2D3E2B;
}
#CustomCalendar QPushButton[type="prevMonthButton"] {
    background-color: #FDF9F2;
    border: 2px solid #D9835D;
    border-radius: 12px;
    color: #2D3E2B;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
#CustomCalendar QPushButton[type="prevMonthButton"]:hover {
    background-color: #C26A47;
    color: #FDF9F2;
    padding-top: 1px;
}
#CustomCalendar QPushButton[type="prevMonthButton"]:pressed {
    background-color: #9f6a47;
    padding-top: 1px;
    padding-right: 6px;
}
#CustomCalendar QPushButton[type="nextMonthButton"] {
    background-color: #FDF9F2;
    border: 2px solid #D9835D;
    border-radius: 12px;
    color: #2D3E2B;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
#CustomCalendar QPushButton[type="nextMonthButton"]:hover {
    background-color: #C26A47;
    color: #FDF9F2;
    padding-top: 1px;
}
#CustomCalendar QPushButton[type="nextMonthButton"]:pressed {
    background-color: #9f6a47;
    padding-top: 1px;
    padding-right: 6px;
}
#CustomCalendar QLabel[type="monthAndYear"] {
    background-color: #FDF9F2;
    color: #2D3E2B;
    font-size: 16px;
}
#CustomCalendar QPushButton[type="toToday"] {
    background-color: #FDF9F2;
    border: 2px solid #D9835D;
    border-radius: 12px;
    color: #2D3E2B;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
#CustomCalendar QPushButton[type="toToday"]:hover {
    background-color: #C26A47;
    color: #FDF9F2;
    padding-top: 1px;
}
#CustomCalendar QPushButton[type="toToday"]:pressed {
    background-color: #9f6a47;
    padding-top: 1px;
    padding-right: 6px;
}


#DatabaseSettingsWidget {
    background-color: #FDF9F2;
}
#DatabaseSettingsWidget QLabel {
    font-size: 20px;
    color: #2D3E2B;
}
#DatabaseSettingsWidget #widgetTitle {
    font-size: 28px;
    color: #2D3E2B;
}
#DatabaseSettingsWidget #backToMenuButton {
    font-size: 16px;
    padding: 8px 8px;
    border-radius: 12px;
    background-color: #D9835D;
    color: #FDF9F2;
}
#DatabaseSettingsWidget #backToMenuButton:hover {
    background-color: #C26A47;
    padding-top: 10px;
}
#DatabaseSettingsWidget #backToMenuButton:pressed {
    background-color: #A04E30;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 6px;
}
#DatabaseSettingsWidget QPushButton {
    background-color: #D9835D;
    border-radius: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    font: 18px;
}
#DatabaseSettingsWidget QPushButton:hover {
    background-color: #C26A47;
    padding-bottom: 1px;
}
#DatabaseSettingsWidget QPushButton:pressed {
    background-color: #A04E30;
    padding-bottom: 1px;
    padding-right: 2px;
}
